h1,
ol,
ul,
li,
button {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: none;
}

body {
  background: #fff;
  overflow-x: hidden;
  font-family: sans-serif;
}

body,
input,
button {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #222;
}

a {
  color: #1a0dab;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

a:visited {
  color: #609;
}

html,
body {
  min-width: 400px;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.gb_Wa:not(.gb_Fd) {
  font: 13px/27px Roboto, RobotoDraft, Arial, sans-serif;
  z-index: 986;
}

@-webkit-keyframes gb__a {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes gb__a {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

a.gb_0 {
  border: none;
  color: #4285f4;
  cursor: default;
  font-weight: bold;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-user-select: none;
}

a.gb_0:hover:after,
a.gb_0:focus:after {
  background-color: rgba(0, 0, 0, 0.12);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

a.gb_0:hover,
a.gb_0:focus {
  text-decoration: none;
}

a.gb_0:active {
  background-color: rgba(153, 153, 153, 0.4);
  text-decoration: none;
}

a.gb_1 {
  background-color: #4285f4;
  color: #fff;
}

a.gb_1:active {
  background-color: #0043b2;
}

.gb_2 {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
}

.gb_0,
.gb_1,
.gb_3,
.gb_4 {
  display: inline-block;
  line-height: 28px;
  padding: 0 12px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.gb_3 {
  background: #f8f8f8;
  border: 1px solid #c6c6c6;
}

.gb_4 {
  background: #f8f8f8;
}

.gb_3,
#gb a.gb_3.gb_3,
.gb_4 {
  color: #666;
  cursor: default;
  text-decoration: none;
}

#gb a.gb_4.gb_4 {
  cursor: default;
  text-decoration: none;
}

.gb_4 {
  border: 1px solid #4285f4;
  font-weight: bold;
  outline: none;
  background: #4285f4;
  background: -webkit-linear-gradient(top, #4387fd, #4683ea);
  background: linear-gradient(top, #4387fd, #4683ea);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4387fd,endColorstr=#4683ea,GradientType=0);
}

#gb a.gb_4.gb_4 {
  color: #fff;
}

.gb_4:hover {
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}

.gb_4:active {
  -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);
  background: #3c78dc;
  background: -webkit-linear-gradient(top, #3c7ae4, #3f76d3);
  background: linear-gradient(top, #3c7ae4, #3f76d3);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3c7ae4,endColorstr=#3f76d3,GradientType=0);
}

.gb_Ba {
  display: none !important;
}

.gb_Ca {
  visibility: hidden;
}

.gb_cd {
  display: inline-block;
  vertical-align: middle;
}

.gb_Bf {
  position: relative;
}

.gb_D {
  display: inline-block;
  outline: none;
  vertical-align: middle;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 40px;
  width: 40px;
  color: #000;
  text-decoration: none;
}

#gb#gb a.gb_D {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

.gb_Za {
  border-color: transparent;
  border-bottom-color: #fff;
  border-style: dashed dashed solid;
  border-width: 0 8.5px 8.5px;
  display: none;
  position: absolute;
  left: 11.5px;
  top: 43px;
  z-index: 1;
  height: 0;
  width: 0;
  -webkit-animation: gb__a 0.2s;
  animation: gb__a 0.2s;
}

.gb_0a {
  border-color: transparent;
  border-style: dashed dashed solid;
  border-width: 0 8.5px 8.5px;
  display: none;
  position: absolute;
  left: 11.5px;
  z-index: 1;
  height: 0;
  width: 0;
  -webkit-animation: gb__a 0.2s;
  animation: gb__a 0.2s;
  border-bottom-color: #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  top: 42px;
}

x:-o-prefocus,
div.gb_0a {
  border-bottom-color: #ccc;
}

.gb_F {
  background: #fff;
  border: 1px solid #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  color: #000;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: none;
  outline: none;
  overflow: hidden;
  position: absolute;
  right: 8px;
  top: 62px;
  -webkit-animation: gb__a 0.2s;
  animation: gb__a 0.2s;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-user-select: text;
}

.gb_cd.gb_ma .gb_Za,
.gb_cd.gb_ma .gb_0a,
.gb_cd.gb_ma .gb_F,
.gb_ma.gb_F {
  display: block;
}

.gb_cd.gb_ma.gb_Cf .gb_Za,
.gb_cd.gb_ma.gb_Cf .gb_0a {
  display: none;
}

.gb_Df {
  position: absolute;
  right: 8px;
  top: 62px;
  z-index: -1;
}

.gb_Ka .gb_Za,
.gb_Ka .gb_0a,
.gb_Ka .gb_F {
  margin-top: -10px;
}

.gb_cd:first-child,
#gbsfw:first-child + .gb_cd {
  padding-left: 4px;
}

.gb_qa.gb_Te .gb_cd:first-child {
  padding-left: 0;
}

.gb_Ue {
  position: relative;
}

.gb_Nc .gb_Ue,
.gb_0d .gb_Ue {
  float: right;
}

.gb_D {
  padding: 8px;
  cursor: pointer;
}

.gb_qa .gb_4c:not(.gb_0):focus img {
  background-color: rgba(0, 0, 0, 0.2);
  outline: none;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.gb_Ve button:focus svg,
.gb_Ve button:hover svg,
.gb_Ve button:active svg,
.gb_D:focus,
.gb_D:active,
.gb_D[aria-expanded="true"] {
  outline: none;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.gb_wc .gb_Ve.gb_We button:focus svg,
.gb_wc .gb_Ve.gb_We button:focus:hover svg,
.gb_Ve button:focus svg,
.gb_Ve button:focus:hover svg,
.gb_D:focus,
.gb_D:focus:hover {
  background-color: rgba(60, 64, 67, 0.1);
}

.gb_wc .gb_Ve.gb_We button:active svg,
.gb_Ve button:active svg,
.gb_D:active {
  background-color: rgba(60, 64, 67, 0.12);
}

.gb_wc .gb_Ve.gb_We button:hover svg,
.gb_Ve button:hover svg {
  background-color: rgba(60, 64, 67, 0.08);
}

.gb_ja .gb_D.gb_Na:hover {
  background-color: transparent;
}

.gb_D[aria-expanded="true"] .gb_Xe,
.gb_D[aria-expanded="true"] .gb_Ze {
  fill: #5f6368;
  opacity: 1;
}

.gb_wc .gb_Ve button:hover svg {
  background-color: rgba(232, 234, 237, 0.08);
}

.gb_wc .gb_Ve button:focus svg,
.gb_wc .gb_Ve button:focus:hover svg,
.gb_wc .gb_D:focus,
.gb_wc .gb_D:focus:hover {
  background-color: rgba(232, 234, 237, 0.1);
}

.gb_wc .gb_Ve button:active svg,
.gb_wc .gb_D:active {
  background-color: rgba(232, 234, 237, 0.12);
}

.gb_wc .gb_D[aria-expanded="true"] .gb_Xe,
.gb_wc .gb_D[aria-expanded="true"] .gb_Ze {
  fill: #ffffff;
  opacity: 1;
}

.gb_cd {
  padding: 4px;
}

.gb_qa.gb_Te .gb_cd {
  padding: 4px 2px;
}

.gb_qa.gb_Te .gb_Oa.gb_cd {
  padding-left: 6px;
}

.gb_F {
  z-index: 991;
  line-height: normal;
}

.gb_F.gb_0e {
  left: 8px;
  right: auto;
}

@media (max-width: 350px) {
  .gb_F.gb_0e {
    left: 0;
  }
}

.gb_1e .gb_F {
  top: 56px;
}

.gb_C .gb_D,
.gb_E .gb_C .gb_D {
  background-position: -64px -29px;
}

.gb_j .gb_C .gb_D {
  background-position: -29px -29px;
  opacity: 1;
}

.gb_C .gb_D,
.gb_C .gb_D:focus {
  opacity: 1;
}

.gb_Hd {
  display: none;
}

.gb_Vc {
  font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 48px;
  margin-bottom: 2px;
  opacity: 1;
  overflow: hidden;
  padding-left: 16px;
  position: relative;
  text-overflow: ellipsis;
  vertical-align: middle;
  top: 2px;
  white-space: nowrap;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}

.gb_Vc.gb_Wc {
  color: #3c4043;
}

.gb_qa.gb_ra .gb_Vc {
  margin-bottom: 0;
}

.gb_Xc.gb_Zc .gb_Vc {
  padding-left: 4px;
}

.gb_qa.gb_ra .gb_0c {
  position: relative;
  top: -2px;
}

.gb_qa {
  color: black;
  min-width: 320px;
  position: relative;
  -webkit-transition: box-shadow 250ms;
  transition: box-shadow 250ms;
}

.gb_qa.gb_Ec {
  min-width: 240px;
}

.gb_qa.gb_Id .gb_Jd {
  display: none;
}

.gb_qa.gb_Id .gb_Kd {
  height: 56px;
}

header.gb_qa {
  display: block;
}

.gb_qa svg {
  fill: currentColor;
}

.gb_Ld {
  position: fixed;
  top: 0;
  width: 100%;
}

.gb_Md {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.gb_Nd {
  height: 64px;
}

.gb_qa:not(.gb_Ic) .gb_2c.gb_3c:not(.gb_Od):not(.gb_Pd),
.gb_qa:not(.gb_Ic) .gb_Cd:not(.gb_Od):not(.gb_Pd),
.gb_qa.gb_Qd .gb_2c.gb_3c.gb_Od,
.gb_qa.gb_Qd .gb_Cd.gb_Od,
.gb_qa.gb_Qd .gb_2c.gb_3c.gb_Pd,
.gb_qa.gb_Qd .gb_Cd.gb_Pd {
  display: none !important;
}

.gb_Kd {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  min-width: -webkit-min-content;
  min-width: min-content;
}

.gb_qa:not(.gb_ra) .gb_Kd {
  padding: 8px;
}

.gb_qa.gb_Rd .gb_Kd {
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
}

.gb_qa .gb_Kd.gb_Sd.gb_Td {
  min-width: 0;
}

.gb_qa.gb_ra .gb_Kd {
  padding: 4px;
  padding-left: 8px;
  min-width: 0;
}

.gb_Jd {
  height: 48px;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-user-select: none;
}

.gb_Vd > .gb_Jd {
  display: table-cell;
  width: 100%;
}

.gb_Xc {
  padding-right: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
}

.gb_qa.gb_ra .gb_Xc {
  padding-right: 14px;
}

.gb_Wd {
  -webkit-flex: 1 1 100%;
  flex: 1 1 100%;
}

.gb_Wd > :only-child {
  display: inline-block;
}

.gb_Xd.gb_Oc {
  padding-left: 4px;
}

.gb_Xd.gb_Zd,
.gb_qa.gb_Rd .gb_Xd,
.gb_qa.gb_ra:not(.gb_0d) .gb_Xd {
  padding-left: 0;
}

.gb_qa.gb_ra .gb_Xd.gb_Zd {
  padding-right: 0;
}

.gb_qa.gb_ra .gb_Xd.gb_Zd .gb_ja {
  margin-left: 10px;
}

.gb_Oc {
  display: inline;
}

.gb_qa.gb_Ic .gb_Xd.gb_1d,
.gb_qa.gb_0d .gb_Xd.gb_1d {
  padding-left: 2px;
}

.gb_Vc {
  display: inline-block;
}

.gb_Xd {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 48px;
  line-height: normal;
  padding: 0 4px;
  padding-left: 30px;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.gb_0d {
  height: 48px;
}

.gb_qa.gb_0d {
  min-width: initial;
  min-width: auto;
}

.gb_0d .gb_Xd {
  float: right;
  padding-left: 32px;
}

.gb_0d .gb_Xd.gb_2d {
  padding-left: 0;
}

.gb_3d {
  font-size: 14px;
  max-width: 200px;
  overflow: hidden;
  padding: 0 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-user-select: text;
}

.gb_4d {
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.gb_5d {
  color: black;
}

.gb_wc {
  color: white;
}

.gb_qa a,
.gb_Bc a {
  color: inherit;
}

.gb_t {
  color: rgba(0, 0, 0, 0.87);
}

.gb_qa svg,
.gb_Bc svg,
.gb_Xc .gb_6d,
.gb_Nc .gb_6d {
  color: #5f6368;
  opacity: 1;
}

.gb_wc svg,
.gb_Bc.gb_Fc svg,
.gb_wc .gb_Xc .gb_6d,
.gb_wc .gb_Xc .gb_vc,
.gb_wc .gb_Xc .gb_0c,
.gb_Bc.gb_Fc .gb_6d {
  color: rgba(255, 255, 255, 0.87);
}

.gb_wc .gb_Xc .gb_uc:not(.gb_7d) {
  opacity: 0.87;
}

.gb_Wc {
  color: inherit;
  opacity: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.gb_wc .gb_Wc,
.gb_5d .gb_Wc {
  opacity: 1;
}

.gb_8d {
  position: relative;
}

.gb_9d {
  font-family: arial, sans-serif;
  line-height: normal;
  padding-right: 15px;
}

a.gb_g,
span.gb_g {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}

.gb_wc a.gb_g,
.gb_wc span.gb_g {
  color: white;
}

a.gb_g:focus {
  outline-offset: 2px;
}

a.gb_g:hover {
  text-decoration: underline;
}

.gb_h {
  display: inline-block;
  padding-left: 15px;
}

.gb_h .gb_g {
  display: inline-block;
  line-height: 24px;
  vertical-align: middle;
}

.gb_ae {
  font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 16px;
  margin-left: 10px;
  margin-right: 8px;
  min-width: 96px;
  padding: 9px 23px;
  text-align: center;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.gb_qa.gb_0d .gb_ae {
  margin-left: 8px;
}

#gb a.gb_4.gb_4.gb_ae,
#gb a.gb_3.gb_3.gb_ae {
  cursor: pointer;
}

.gb_4.gb_ae:hover {
  background: #2b7de9;
  -webkit-box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3),
    0 1px 3px 1px rgba(66, 133, 244, 0.15);
  box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3),
    0 1px 3px 1px rgba(66, 133, 244, 0.15);
}

.gb_4.gb_ae:focus,
.gb_4.gb_ae:hover:focus {
  background: #5094ed;
  -webkit-box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3),
    0 1px 3px 1px rgba(66, 133, 244, 0.15);
  box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3),
    0 1px 3px 1px rgba(66, 133, 244, 0.15);
}

.gb_4.gb_ae:active {
  background: #63a0ef;
  -webkit-box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3),
    0 1px 3px 1px rgba(66, 133, 244, 0.15);
  box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3),
    0 1px 3px 1px rgba(66, 133, 244, 0.15);
}

.gb_ae:not(.gb_3) {
  background: #1a73e8;
  border: 1px solid transparent;
}

.gb_qa.gb_ra .gb_ae {
  padding: 9px 15px;
  min-width: 80px;
}

.gb_be {
  text-align: left;
}

#gb a.gb_ae.gb_3,
#gb .gb_wc a.gb_ae,
#gb.gb_wc a.gb_ae {
  background: #ffffff;
  border-color: #dadce0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #1a73e8;
}

#gb a.gb_4.gb_ka.gb_ce.gb_ae {
  background: #8ab4f8;
  border: 1px solid transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #202124;
}

#gb a.gb_ae.gb_3:hover,
#gb .gb_wc a.gb_ae:hover,
#gb.gb_wc a.gb_ae:hover {
  background: #f8fbff;
  border-color: #cce0fc;
}

#gb a.gb_4.gb_ka.gb_ce.gb_ae:hover {
  background: #93baf9;
  -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15),
    0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.3);
}

#gb a.gb_ae.gb_3:focus,
#gb a.gb_ae.gb_3:focus:hover,
#gb .gb_wc a.gb_ae:focus,
#gb .gb_wc a.gb_ae:focus:hover,
#gb.gb_wc a.gb_ae:focus,
#gb.gb_wc a.gb_ae:focus:hover {
  background: #f4f8ff;
  border-color: #c9ddfc;
}

#gb a.gb_4.gb_ka.gb_ce.gb_ae:focus,
#gb a.gb_4.gb_ka.gb_ce.gb_ae:focus:hover {
  background: #a6c6fa;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#gb a.gb_ae.gb_3:active,
#gb .gb_wc a.gb_ae:active,
#gb.gb_wc a.gb_ae:active {
  background: #ecf3fe;
}

#gb a.gb_4.gb_ka.gb_ce.gb_ae:active {
  background: #a1c3f9;
  -webkit-box-shadow: 0 1px 2px rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  box-shadow: 0 1px 2px rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
}

#gb a.gb_ae.gb_3:not(.gb_ka):active {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
}

.gb_ja {
  background-color: rgba(255, 255, 255, 0.88);
  border: 1px solid #dadce0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  max-height: 48px;
  overflow: hidden;
  outline: none;
  padding: 0;
  vertical-align: middle;
  width: 134px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.gb_ja.gb_ka {
  background-color: transparent;
  border: 1px solid #5f6368;
}

.gb_la {
  display: inherit;
}

.gb_ja.gb_ka .gb_la {
  background: #ffffff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  left: 8px;
  margin-right: 5px;
  position: relative;
  padding: 3px;
  top: -1px;
}

.gb_ja:hover {
  border: 1px solid #d2e3fc;
  background-color: rgba(248, 250, 255, 0.88);
}

.gb_ja.gb_ka:hover {
  border: 1px solid #5f6368;
  background-color: rgba(232, 234, 237, 0.08);
}

.gb_ja:focus {
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255);
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.gb_ja.gb_ka:focus {
  border: 1px solid #e8eaed;
  background-color: #38383b;
}

.gb_ja.gb_ka:active,
.gb_ja.gb_ma.gb_ka:focus {
  border: 1px solid #5f6368;
  background-color: #333438;
}

.gb_na {
  display: inline-block;
  padding-left: 7px;
  padding-bottom: 2px;
  text-align: center;
  vertical-align: middle;
  line-height: 32px;
  width: 78px;
}

.gb_ja.gb_ka .gb_na {
  line-height: 26px;
  width: 72px;
  padding-left: 0;
  padding-bottom: 0;
}

.gb_na.gb_oa {
  background-color: #f1f3f4;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-left: 8px;
  padding-left: 0;
}

.gb_na.gb_oa .gb_pa {
  vertical-align: middle;
}

.gb_qa:not(.gb_ra) .gb_ja {
  margin-left: 10px;
  margin-right: 4px;
}

.gb_sa {
  max-height: 32px;
  width: 78px;
}

.gb_ja.gb_ka .gb_sa {
  max-height: 26px;
  width: 72px;
}

.gb_Da {
  -webkit-background-size: 32px 32px;
  background-size: 32px 32px;
  border: 0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
  margin: 0;
  position: relative;
  height: 32px;
  width: 32px;
  z-index: 0;
}

.gb_Ea {
  background-color: #e8f0fe;
  border: 1px solid rgba(32, 33, 36, 0.08);
  position: relative;
}

.gb_Ea.gb_Da {
  height: 30px;
  width: 30px;
}

.gb_Ea.gb_Da:hover,
.gb_Ea.gb_Da:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.gb_Fa {
  background: #fff;
  border: none;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  bottom: 2px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  height: 14px;
  margin: 2px;
  position: absolute;
  right: 0;
  width: 14px;
}

.gb_Ha {
  color: #1f71e7;
  font: 400 22px/32px Google Sans, Roboto, RobotoDraft, Helvetica, Arial,
    sans-serif;
  text-align: center;
  text-transform: uppercase;
}

@media (min-resolution: 1.25dppx),
  (-o-min-device-pixel-ratio: 5/4),
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-device-pixel-ratio: 1.25) {
  .gb_Da::before {
    display: inline-block;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: left 0;
    transform-origin: left 0;
  }

  .gb_Ia::before {
    display: inline-block;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: left 0;
    transform-origin: left 0;
  }

  .gb_l .gb_Ia::before {
    -webkit-transform: scale(0.416666667);
    transform: scale(0.416666667);
  }
}

.gb_Da:hover,
.gb_Da:focus {
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}

.gb_Da:active {
  -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.15);
}

.gb_Da:active::after {
  background: rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  content: "";
  display: block;
  height: 100%;
}

.gb_Ja {
  cursor: pointer;
  line-height: 40px;
  min-width: 30px;
  opacity: 0.75;
  overflow: hidden;
  vertical-align: middle;
  text-overflow: ellipsis;
}

.gb_D.gb_Ja {
  width: auto;
}

.gb_Ja:hover,
.gb_Ja:focus {
  opacity: 0.85;
}

.gb_Ka .gb_Ja,
.gb_Ka .gb_La {
  line-height: 26px;
}

#gb#gb.gb_Ka a.gb_Ja,
.gb_Ka .gb_La {
  font-size: 11px;
  height: auto;
}

.gb_Ma {
  border-top: 4px solid #000;
  border-left: 4px dashed transparent;
  border-right: 4px dashed transparent;
  display: inline-block;
  margin-left: 6px;
  opacity: 0.75;
  vertical-align: middle;
}

.gb_Na:hover .gb_Ma {
  opacity: 0.85;
}

.gb_ja > .gb_Oa {
  padding: 3px 3px 3px 4px;
}

.gb_Pa.gb_Ca {
  color: #fff;
}

.gb_j .gb_Ja,
.gb_j .gb_Ma {
  opacity: 1;
}

#gb#gb.gb_j.gb_j a.gb_Ja,
#gb#gb .gb_j.gb_j a.gb_Ja {
  color: #fff;
}

.gb_j.gb_j .gb_Ma {
  border-top-color: #fff;
  opacity: 1;
}

.gb_E .gb_Da:hover,
.gb_j .gb_Da:hover,
.gb_E .gb_Da:focus,
.gb_j .gb_Da:focus {
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.2);
}

.gb_Qa .gb_Oa,
.gb_Ra .gb_Oa {
  position: absolute;
  right: 1px;
}

.gb_Oa.gb_i,
.gb_Sa.gb_i,
.gb_Na.gb_i {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-flex: 0 1 main-size;
  flex: 0 1 main-size;
}

.gb_Ta.gb_Ua .gb_Ja {
  width: 30px !important;
}

.gb_Va {
  height: 40px;
  position: absolute;
  right: -5px;
  top: -5px;
  width: 40px;
}

.gb_Wa .gb_Va,
.gb_Xa .gb_Va {
  right: 0;
  top: 0;
}

.gb_Oa .gb_D {
  padding: 4px;
}

.gb_ee {
  display: none;
}

.gb_1c {
  display: none;
}

.gb_1c.gb_ma {
  display: block;
}

.gb_2c {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
  color: #000;
  position: relative;
  z-index: 986;
}

.gb_3c {
  height: 40px;
  padding: 16px 24px;
  white-space: nowrap;
}

.gb_2c .gb_4c {
  border: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 36px;
  min-width: 32px;
  padding: 0 16px;
  vertical-align: middle;
}

.gb_2c .gb_4c:before {
  content: "";
  height: 6px;
  left: 0;
  position: absolute;
  top: -6px;
  width: 100%;
}

.gb_2c .gb_4c:after {
  bottom: -6px;
  content: "";
  height: 6px;
  left: 0;
  position: absolute;
  width: 100%;
}

.gb_2c .gb_4c + .gb_4c {
  margin-left: 8px;
}

.gb_5c {
  height: 48px;
  padding: 4px;
  margin: -8px 0 0 -8px;
}

.gb_6c {
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  overflow: hidden;
  vertical-align: top;
}

.gb_3c .gb_6c {
  display: inline-block;
  padding-left: 8px;
  width: 640px;
}

.gb_7c {
  background-color: inherit;
}

.gb_3c .gb_7c {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 24px;
}

.gb_7c .gb_8c {
  height: 1.5em;
  margin: -0.25em 10px -0.25em 0;
  vertical-align: text-top;
  width: 1.5em;
}

.gb_9c {
  line-height: 20px;
  font-size: 16px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
}

.gb_3c .gb_9c,
.gb_3c .gb_ad {
  width: 640px;
}

.gb_ad .gb_bd,
.gb_ad {
  line-height: 20px;
  font-size: 13px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
}

.gb_cd.gb_dd {
  padding: 0;
}

.gb_dd .gb_F {
  background: #ffffff;
  border: solid 1px transparent;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 16px;
  right: 16px;
  top: 72px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(65, 69, 73, 0.3),
    0 3px 6px 2px rgba(65, 69, 73, 0.15);
  box-shadow: 0 1px 2px 0 rgba(65, 69, 73, 0.3),
    0 3px 6px 2px rgba(65, 69, 73, 0.15);
}

.gb_dd .gb_F.gb_ed {
  right: 60px;
  top: 48px;
}

.gb_dd .gb_F.gb_fd {
  top: 62px;
}

a.gb_gd {
  color: #5f6368 !important;
  font-size: 22px;
  height: 24px;
  opacity: 1;
  padding: 8px;
  position: absolute;
  right: 8px;
  top: 8px;
  text-decoration: none !important;
  width: 24px;
}

a.gb_gd:focus,
a.gb_gd:active,
a.gb_gd:focus:hover {
  background-color: #e8eaed;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  outline: none;
}

a.gb_gd:hover {
  background-color: #f1f3f4;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  outline: none;
}

svg.gb_hd {
  fill: #5f6368;
  opacity: 1;
}

.gb_id {
  padding: 0;
  white-space: normal;
  display: table;
}

.gb_dd .gb_4:active {
  outline: none;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.16);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.16);
}

.gb_0.gb_jd.gb_kd {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  height: 36px;
  font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 16px;
  min-width: 70px;
  outline: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

.gb_0.gb_ld.gb_kd {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  height: 36px;
  color: #5f6368;
  font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 16px;
  min-width: 70px;
  outline: none;
  padding: 8px 6px;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

.gb_0.gb_jd.gb_kd {
  background: white;
  border: 1px solid #dadce0;
  color: #1a73e8;
  margin-top: 21px;
  padding: 9px 7px;
}

.gb_0.gb_jd.gb_kd:hover {
  background-color: rgba(26, 115, 232, 0.04);
}

.gb_0.gb_jd.gb_kd:focus,
.gb_0.gb_jd.gb_kd:focus:hover {
  background-color: rgba(26, 115, 232, 0.12);
  border: solid 1px #1a73e8;
}

.gb_0.gb_jd.gb_kd:active {
  background-color: rgba(26, 115, 232, 0.1);
  border-color: transparent;
}

.gb_0.gb_ld:hover {
  background-color: #f8f9fa;
}

.gb_0.gb_ld:focus,
.gb_0.gb_ld:hover:focus {
  background-color: #f1f3f4;
  border-color: transparent;
}

.gb_0.gb_ld:active {
  background-color: #f1f3f4;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.gb_bd {
  color: #5f6368;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 5px;
}

.gb_md {
  text-align: right;
  font-size: 14px;
  padding-bottom: 0;
  white-space: nowrap;
}

.gb_md .gb_nd,
.gb_md .gb_od {
  margin-left: 12px;
  text-transform: none;
}

a.gb_4.gb_nd:hover {
  background-color: #2b7de9;
  border-color: transparent;
  -webkit-box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3),
    0 1px 3px 1px rgba(66, 133, 244, 0.15);
  box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3),
    0 1px 3px 1px rgba(66, 133, 244, 0.15);
}

a.gb_4.gb_nd:focus,
a.gb_4.gb_nd:hover:focus {
  background-color: #5094ed;
  border-color: transparent;
  -webkit-box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3),
    0 1px 3px 1px rgba(66, 133, 244, 0.15);
  box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3),
    0 1px 3px 1px rgba(66, 133, 244, 0.15);
}

a.gb_4.gb_nd:active {
  background-color: #63a0ef;
  -webkit-box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3),
    0 1px 3px 1px rgba(66, 133, 244, 0.15);
  box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3),
    0 1px 3px 1px rgba(66, 133, 244, 0.15);
}

.gb_md .gb_kd.gb_nd img {
  background-color: inherit;
  -webkit-border-radius: initial;
  border-radius: initial;
  height: 18px;
  margin: 0 8px 0 4px;
  vertical-align: text-top;
  width: 18px;
}

.gb_pd .gb_id .gb_qd .gb_kd {
  border: 2px solid transparent;
}

.gb_id .gb_qd .gb_kd:focus:after,
.gb_id .gb_qd .gb_kd:hover:after {
  background-color: transparent;
}

.gb_rd {
  color: #3c4043;
  font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 12px;
}

.gb_bd a.gb_td {
  text-decoration: none;
  color: #5e97f6;
}

.gb_bd a.gb_td:visited {
  color: #5e97f6;
}

.gb_bd a.gb_td:hover,
.gb_bd a.gb_td:active {
  text-decoration: underline;
}

.gb_ud {
  position: absolute;
  background: transparent;
  top: -999px;
  z-index: -1;
  visibility: hidden;
  margin-top: 1px;
  margin-left: 1px;
}

#gb .gb_dd {
  margin: 0;
}

.gb_dd .gb_4c {
  background: #4d90fe;
  border: 2px solid transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 500;
  margin-top: 21px;
  min-width: 70px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

.gb_dd a.gb_4 {
  background: #1a73e8;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #ffffff;
  font-family: Google Sans, Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 16px;
  padding: 8px 22px;
  -webkit-font-smoothing: antialiased;
}

.gb_dd.gb_vd .gb_F {
  background-color: #fce8e6;
}

.gb_dd.gb_wd a.gb_nd,
.gb_dd.gb_vd a.gb_nd {
  background-color: #d93025;
}

.gb_dd.gb_wd a.gb_nd:hover,
.gb_dd.gb_vd a.gb_nd:hover {
  background-color: #cc3127;
  -webkit-box-shadow: 0 -1px 5px rgba(128, 134, 139, 0.09),
    0 3px 5px rgba(128, 134, 139, 0.06), 0 1px 2px rgba(60, 64, 67, 0.3),
    0 1px 3px rgba(60, 64, 67, 0.15);
  box-shadow: 0 -1px 5px rgba(128, 134, 139, 0.09),
    0 3px 5px rgba(128, 134, 139, 0.06), 0 1px 2px rgba(60, 64, 67, 0.3),
    0 1px 3px rgba(60, 64, 67, 0.15);
}

.gb_dd.gb_wd a.gb_nd:focus,
.gb_dd.gb_vd a.gb_nd:focus {
  background-color: #b3332c;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.gb_dd.gb_wd a.gb_nd:active,
.gb_dd.gb_vd a.gb_nd:active {
  background-color: #a6342e;
  -webkit-box-shadow: 0 -2px 8px rgba(128, 134, 139, 0.09),
    0 4px 8px rgba(128, 134, 139, 0.06), 0 1px 2px rgba(60, 64, 67, 0.3),
    0 2px 6px rgba(60, 64, 67, 0.15);
  box-shadow: 0 -2px 8px rgba(128, 134, 139, 0.09),
    0 4px 8px rgba(128, 134, 139, 0.06), 0 1px 2px rgba(60, 64, 67, 0.3),
    0 2px 6px rgba(60, 64, 67, 0.15);
}

.gb_dd.gb_xd a.gb_4 {
  float: right;
}

#gb .gb_dd a.gb_4c.gb_4c {
  color: #ffffff;
  cursor: pointer;
}

.gb_dd .gb_4c:hover {
  background: #357ae8;
  border-color: #2f5bb7;
}

.gb_yd,
.gb_qd {
  display: table-cell;
}

.gb_yd {
  vertical-align: middle;
}

.gb_yd img {
  height: 48px;
  padding-left: 4px;
  padding-right: 20px;
  width: 48px;
}

.gb_qd {
  padding-left: 13px;
  width: 100%;
}

.gb_dd .gb_qd {
  padding-top: 4px;
  min-width: 326px;
  padding-left: 0;
  width: 326px;
}

.gb_dd.gb_zd .gb_qd {
  min-width: 254px;
  width: 254px;
}

.gb_dd.gb_xd .gb_qd {
  padding-top: 32px;
}

.gb_Cd {
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  height: 25px;
  line-height: 19px;
  padding-top: 5px;
  padding-left: 12px;
  position: relative;
  background-color: #4d90fe;
}

.gb_Cd .gb_Dd {
  color: #ffffff;
  cursor: default;
  font-size: 22px;
  font-weight: normal;
  position: absolute;
  right: 12px;
  top: 5px;
}

.gb_Cd .gb_nd,
.gb_Cd .gb_ld {
  color: #ffffff;
  display: inline-block;
  font-size: 11px;
  margin-left: 16px;
  padding: 0 8px;
  white-space: nowrap;
}

.gb_Ed {
  background: none;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.16)),
    to(rgba(0, 0, 0, 0.2))
  );
  background-image: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.16),
    rgba(0, 0, 0, 0.2)
  );
  background-image: linear-gradient(
    top,
    rgba(0, 0, 0, 0.16),
    rgba(0, 0, 0, 0.2)
  );
  background-image: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.16),
    rgba(0, 0, 0, 0.2)
  );
  border-radius: 2px;
  border: 1px solid #dcdcdc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: default !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#160000ff,endColorstr=#220000ff);
  text-decoration: none !important;
  -webkit-border-radius: 2px;
}

.gb_Ed:hover {
  background: none;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.14)),
    to(rgba(0, 0, 0, 0.2))
  );
  background-image: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.14),
    rgba(0, 0, 0, 0.2)
  );
  background-image: linear-gradient(
    top,
    rgba(0, 0, 0, 0.14),
    rgba(0, 0, 0, 0.2)
  );
  background-image: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.14),
    rgba(0, 0, 0, 0.2)
  );
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#14000000,endColorstr=#22000000);
}

.gb_Ed:active {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}

.gb_qa .gb_0 {
  color: #4285f4;
}

.gb_qa .gb_1 {
  color: #fff;
}

.gb_qa .gb_4c:not(.gb_Re):focus {
  outline: none;
}

.z1asCe {
  display: inline-block;
  fill: currentColor;
  height: 24px;
  line-height: 24px;
  position: relative;
  width: 24px;
}

.z1asCe svg {
  display: block;
  height: 100%;
  width: 100%;
}

.L3eUgb {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.o3j99 {
  flex-shrink: 0;
  box-sizing: border-box;
}

.n1xJcf {
  height: 60px;
}

.LLD4me {
  min-height: 150px;
  max-height: 290px;
  height: calc(100% - 560px);
}

.yr19Zb {
  min-height: 92px;
}

.ikrT4e {
  max-height: 160px;
}

.qarstb {
  flex-grow: 1;
}

.Ne6nSd {
  display: flex;
  align-items: center;
  padding: 6px;
}

.LX3sZb {
  display: inline-block;
  flex-grow: 1;
}

.LS8OJ {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

.k1zIA {
  height: 100%;
  margin-top: auto;
}

.rSk4se {
  max-height: 92px;
}

.lnXdpd {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: center bottom;
  width: auto;
}

.om7nvf {
  padding: 20px;
}

.A8SBwf {
  position: relative;
  margin: 0 auto;
  padding-top: 6px;
  width: 484px;
  width: auto;
  max-width: 484px;
}

#searchform.big .A8SBwf {
  width: 584px;
  width: auto;
  max-width: 584px;
}

.A8SBwf {
  width: auto;
  max-width: 584px;
}

.RNNXgb {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  width: 482px;
  width: auto;
}

.minidiv .RNNXgb {
  background: #fff;
  height: 32px;
  border-radius: 16px;
  margin: 10px 0 0;
}

.emcav .RNNXgb {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: rgba(223, 225, 229, 0);
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

.minidiv .emcav .RNNXgb {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.emcav.emcat .RNNXgb {
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.minidiv .emcav.emcat .RNNXgb {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.RNNXgb:hover,
.sbfc .RNNXgb {
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

.UUbT9 {
  width: auto;
}

#searchform.big .RNNXgb {
  width: 582px;
  width: auto;
}

.RNNXgb {
  width: auto;
  max-width: 584px;
}

.SDkEP {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 16px;
  padding-left: 14px;
}

.minidiv .SDkEP {
  padding-top: 0;
}

.FPdoLc {
  padding-top: 18px;
  top: 53px;
  z-index: 0;
}

#searchform.big .FPdoLc {
}

.iblpc {
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

.minidiv .iblpc {
  margin-top: 0;
}

.hsuHs {
  margin: auto;
}

.wFncld {
  margin-top: 3px;
  color: #9aa0a6;
  height: 20px;
  width: 20px;
}

.gLFyf {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  -webkit-tap-highlight-color: transparent;
  margin-top: -37px;
  height: 34px;
  font-size: 16px;
}

.minidiv .gLFyf {
  margin-top: -35px;
}

.a4bIc {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.pR49Ae {
  color: transparent;
  flex: 100%;
  white-space: pre;
  height: 34px;
}

.pR49Ae span {
  /* background: url("/images/experiments/wavy-underline.png") repeat-x scroll 0 */
  /* 100% transparent; */
  padding: 0 0 10px 0;
}

.dRYYxd {
  display: flex;
  flex: 0 0 auto;
  margin-top: -5px;
  align-items: stretch;
  flex-direction: row;
}

.minidiv .dRYYxd {
  margin-top: 0;
}
.clear-button {
  flex: 1 0 auto;
  display: none;
  cursor: pointer;
  align-items: center;
  border: 0;
  background: transparent;
  outline: none;
  padding: 0 8px;
  line-height: 44px;
}

.XoaYSb {
  display: flex;
}

.lBbtTb {
  height: 100%;
  color: #80868b;
  vertical-align: middle;
  outline: none;
}

.minidiv .clear-button {
  line-height: 32px;
}

.minidiv .lBbtTb {
  width: 20px;
}
.clear-button {
  padding-right: 4px;
}

.lBbtTb {
  margin-right: 12px;
}

.FqnKTc {
  border-left: 1px solid #dfe1e5;
  height: 65%;
}

.hpuQDe {
  flex: 1 0 auto;
  display: flex;
  cursor: pointer;
  align-items: center;
  border: 0;
  background: transparent;
  outline: none;
  padding: 0 8px;
  width: 24px;
  line-height: 44px;
}

.HPVvwb {
  height: 24px;
  width: 24px;
  vertical-align: middle;
}

.minidiv .hpuQDe {
  line-height: 32px;
}

.minidiv .HPVvwb {
  width: 20px;
  height: 20px;
}

.UUbT9 {
  position: absolute;
  width: 100%;
  text-align: left;
  margin-top: -1px;
  z-index: 3;
  cursor: default;
  -webkit-user-select: none;
}

.aajZCb {
  background: #fff;
  box-shadow: 0 4px 6px rgba(32, 33, 36, 0.28);
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0 0 24px 24px;
  padding-bottom: 4px;
  overflow: hidden;
}

.minidiv .aajZCb {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.erkvQe {
  flex: auto;
  padding-bottom: 8px;
}

.RjPuVb {
  height: 1px;
  margin: 0 26px 0 0;
}

.S3nFnd {
  display: flex;
}

.S3nFnd .RjPuVb,
.S3nFnd .aajZCb {
  flex: 0 0 auto;
}

.lh87ke:link,
.lh87ke:visited {
  color: #36c;
  cursor: pointer;
  font: 11px arial, sans-serif;
  padding: 0 5px;
  margin-top: -10px;
  text-decoration: none;
  flex: auto;
  align-self: flex-end;
  margin: 0 16px 5px 0;
}

.lh87ke:hover {
  text-decoration: underline;
}

.xtSCL {
  border-top: 1px solid #e8eaed;
  margin: 0 20px 0 14px;
  padding-bottom: 4px;
}

.sb7 {
  background: url() no-repeat;
  min-height: 0px;
  min-width: 0px;
  height: 0px;
  width: 0px;
}

.sb27 {
  /* background: url(/images/searchbox/desktop_searchbox_sprites318_hr.webp) */
  /* no-repeat 0 -21px; */
  background-size: 20px;
  min-height: 20px;
  min-width: 20px;
  height: 20px;
  width: 20px;
}

.sb43 {
  /* background: url(/images/searchbox/desktop_searchbox_sprites318_hr.webp) */
  /* no-repeat 0 0; */
  background-size: 20px;
  min-height: 20px;
  min-width: 20px;
  height: 20px;
  width: 20px;
}

.sb53.sb53 {
  padding: 0 4px;
  margin: 0;
}

.sb33 {
  /* background: url(/images/searchbox/desktop_searchbox_sprites318_hr.webp) */
  /* no-repeat 0 -42px; */
  background-size: 20px;
  height: 20px;
  width: 20px;
}

#sbt {
  display: none;
}

.sbct {
  display: flex;
  align-items: center;
  min-width: 0;
  padding: 0;
}

.L3OrEb {
  flex: auto;
  display: flex;
  align-items: center;
  margin: 0 20px 0 14px;
}

.sbtc {
  display: flex;
  flex: auto;
  flex-direction: column;
  min-width: 0;
  padding: 6px 0;
}

.sbic {
  display: flex;
  align-items: center;
  margin: 0 13px 0 1px;
}

.sbic.sbei {
  margin: 4px 7px 4px -5px;
  border-radius: 4px;
  min-height: 32px;
  min-width: 32px;
  background: center/contain no-repeat;
}

.sbre .sbl1 {
  line-height: 18px;
}

.sbl2 {
  line-height: 12px;
  font-size: 13px;
  color: #80868b;
  margin-top: 2px;
}

.sbl1 {
  display: flex;
  font-size: 16px;
  color: #212121;
  flex: auto;
  align-items: center;
  word-break: break-word;
  padding-right: 8px;
}

.minidiv .sbl1 {
  font-size: 14px;
}

.sbl1p {
  color: #52188c;
}

.sbl1 > span {
  flex: auto;
}

.sbab {
  display: flex;
  align-self: stretch;
}

.sbdb:hover {
  color: #1a73e8;
  text-decoration: underline;
}

.sbdb {
  color: #80868b;
  cursor: pointer;
  font: 13px arial, sans-serif;
  align-self: center;
}

.sbhl {
  background: #eee;
}

.mus_pc {
  display: block;
  margin: 6px 0;
}

.mus_il {
  font-family: Arial, HelveticaNeue-Light, HelveticaNeue, Helvetica;
  padding-top: 7px;
  position: relative;
}

.mus_il:first-child {
  padding-top: 0;
}

.mus_il_at {
  margin-left: 10px;
}

.mus_il_st {
  right: 52px;
  position: absolute;
}

.mus_il_i {
  align: left;
  margin-right: 10px;
}

.mus_it3 {
  margin-bottom: 3px;
  max-height: 24px;
  vertical-align: bottom;
}

.mus_it5 {
  height: 24px;
  width: 24px;
  vertical-align: bottom;
  margin-left: 10px;
  margin-right: 10px;
  transform: rotate(90deg);
}

.mus_tt3 {
  color: #767676;
  font-size: 12px;
  vertical-align: top;
}

.mus_tt5 {
  color: #dd4b39;
  font-size: 14px;
}

.mus_tt6 {
  color: #3d9400;
  font-size: 14px;
}

.mus_tt8 {
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.mus_tt17 {
  color: #212121;
  font-size: 20px;
}

.mus_tt18 {
  color: #212121;
  font-size: 24px;
}

.mus_tt19 {
  color: #767676;
  font-size: 12px;
}

.mus_tt20 {
  color: #767676;
  font-size: 14px;
}

.mus_tt23 {
  color: #767676;
  font-size: 18px;
}
#ynRric {
  display: none;
}

.ynRric {
  list-style-type: none;
  flex-direction: column;
  color: #80868b;
  font-family: Google Sans, arial, sans-serif-medium, sans-serif;
  font-size: 14px;
  margin: 0 20px 0 16px;
  padding: 8px 0 8px 0;
  line-height: 16px;
}

.tfB0Bf {
  height: 70px;
}

.tfB0Bf input[type="submit"],
.gbqfba {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.tfB0Bf input[type="submit"]:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

.tfB0Bf input[type="submit"]:focus {
  border: 1px solid #4d90fe;
  outline: none;
}

.JUypV {
  font-size: 8pt;
  margin-top: -16px;
  position: absolute;
  right: 16px;
}

a.oBa0Fe {
  color: #70757a;
  float: right;
  font-style: italic;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}

a.aciXEb {
  padding: 0 5px;
}

.RTZ84b {
  color: #70757a;
  cursor: pointer;
  padding-right: 8px;
}

.XEKxtf {
  color: #70757a;
  float: right;
  font-size: 12px;
  line-height: 1.34;
  padding-bottom: 4px;
}

.vcVZ7d {
  text-align: center;
}

#gws-output-pages-elements-homepage_additional_languages__als {
  font-size: small;
  margin-bottom: 24px;
}

#SIvCob {
  display: inline-block;
  line-height: 28px;
}

#SIvCob a {
  padding: 0 3px;
}

.H6sW5 {
  display: inline-block;
  margin: 0 2px;
  white-space: nowrap;
}

.z4hgWe {
  display: inline-block;
  margin: 0 2px;
}

.c93Gbe {
  background: #f2f2f2;
}

.uU7dJb {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.54);
}

.SSwjIe {
  padding: 0 20px;
}

.KxwPGc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (max-width: 1200px) {
  .KxwPGc {
    justify-content: space-evenly;
  }
}

.pHiOh {
  display: block;
  padding: 15px;
  white-space: nowrap;
}

a.pHiOh {
  color: #70757a;
}

.ayzqOc {
  position: relative;
}

.EzVRq {
  display: block;
  padding: 15px;
  white-space: nowrap;
}

a.EzVRq,
button.EzVRq {
  color: #70757a;
}

button.EzVRq {
  cursor: pointer;
  width: 100%;
  text-align: left;
}

button.EzVRq:hover,
button.EzVRq:active {
  text-decoration: underline;
}

.Qff0zd {
  display: none;
  position: absolute;
  list-style: none;
  background: #fff;
  border: 1px solid #70757a;
}

.Fgvgjc {
  height: 0;
  overflow: hidden;
}

.gTMtLb {
  z-index: 1001;
  position: absolute;
  top: -1000px;
}

.res {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

@media all and (max-width: 1380px) {
  .LS8OJ {
    height: 30vh !important;
  }
}

@media all and (max-width: 565px) {
  ._main {
    display: none;
  }
  .res {
    display: flex;
    text-align: center;
  }
  html,
  body {
    min-width: 0px !important;
  }
}
